[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
edge-tts = "*"
playsound = "*"
geopy = "*"
gguf = "*"
bs4 = "*"
pygbif = "*"
streamlit = "*"
google-generativeai = "*"
python-dotenv = "*"
pydub = "*"
flask = "*"
markdown = "*"
wikipedia-api = "*"
flask-cors = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
