body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.species-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.species-images img {
    max-width: 100%;
}

.species-narration {
    width: 50%;
    text-align: left;
}
